<h2>List Operadores</h2>

<%= form_tag(operadores_path, method: "get", class: 'form-inline') do |f| %>
    <div class="form-group">
        <%= text_field(:buscar, :termo, class: 'form-control', value: @termo) %>
    </div>

    <%= submit_tag('Buscar', class: 'btn btn-secondary') %>
<% end %>

<p><%= @data_total %> resultados encontrados</p>

<% if @data_total > 0 %>
<table class="table">

    <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th></th>
    </tr>

    <% @data.each do |item| %>
    <tr>
        <td><%= item.nome %></td>
        <td><%= item.email %></td>
        <td width="1">
            <a href="<%= operadores_update_path(item.id) %>" class="btn btn-primary">
                <%= icon('far', 'edit') %>
            </a>
        </td>
    </tr>
    <% end %>

</table>
<% end %>

<h1><%= @page %></h1>

<% if @data_pages > 1 %>
<ul class="pagination">
    <% 1.step(@data_pages, 1) do |p| %>
    <li class="<%= p==@page ? 'page-item active' : 'page-item' %>">
        <a class="page-link" href="<%= operadores_path %>?page=<%= p %>"><%= p %></a>
    </li>
    <% end %>
</ul>
<% end %>